.col-12{data: {id: clothing_item.id}}
  .card.clothing_item_card{data: {price: clothing_item.price }}
    .card-body
      .row
        .col-lg-6.image_side
          = image_tag clothing_item.image_url_or_default, alt: "Clothing image", class: "card-img-top"
        .col-lg-6.content-side
          %h4.card-title= clothing_item.name
          %h6.card-subtitle.mb-2.text-muted= number_to_currency(clothing_item.price)
          %strong= clothing_item.category.name
          %br
          %strong= clothing_item.brand.name
          %br
          %strong= clothing_item.color.name