= form_with(model: [@user, @outfit], html: {class: "outfit_form"}) do |f|
  .row
    .col-8
      .card.existing_clothes
        .card-body.no_padding_right
          .row
            .col-6
              %h3.card-title Outfit Creator
              %h6.card-subtitle.mb-2.text-muted Drag and drop clothes from My Clothes to Outfit to add them.
              .form-group
                = f.label :name, "Name"
                = form_group_for f, :name do 
                  = f.text_field :name, required: true, class: "form-control"

              .row
                .col-6
                  %h4.card-title 
                    Total Cost: 
                    .total_cost= number_to_currency(@outfit.price)
                
                .col-6
                  %h4.card-title 
                    Remaining Room: 
                    .remaining_room= @outfit.remaining_room

              .outfit_clothing_items_fields
                = f.fields_for :outfit_clothing_items do |g|
                  = g.hidden_field :clothing_item_id, class: "clothing_item_id_field"
                  = g.check_box :_destroy, class: "destroy_item_#{g.object.clothing_item_id}"
                
              .card-footer.text-center
                = f.button "Save", data: {disable_with: disable_with_spinner('Saving') }, class: "btn btn-primary float-right"
                = link_to "Cancel", user_outfits_path(@user), class: "btn btn-default float-right"

            .col-6
              .row
                .card.outfit_clothes
                  .card-body
                    %h4.card-title Outfit Clothes
                    %h6.card-subtitle.mb-2.text-muted Add up to 6 clothing items
                    .row#left
                      = render partial: "outfits/partials/clothing_item_card", collection: @current_clothing_items, as: :clothing_item
                    
    
    .col-4
      .card.remaining_clothes
        .card-body
          %h4.card-title My Clothes
          .row#right
            = render partial: "outfits/partials/clothing_item_card", collection: @remaining_clothing_items, as: :clothing_item
        




:javascript
  window.initDragula();