.col-lg-3.col-md-6.col-sm-6.col-xs-12{class: "outfit_card_#{outfit.id}"}
  .card.outfit_card
    .card-body
      %h4.card-title= outfit.name
      %h6.card-subtitle.mb-2.text-muted
        = number_to_currency(outfit.price)
        ●
        = "#{outfit.size} " + "item".pluralize(outfit.size)
      %h6.card-subtitle.mb-2.text-muted
      .clothing_item_images
        - outfit.clothing_items.each do |clothing_item|
          = image_tag clothing_item.image_url_or_default, alt: "Clothing image", class: "rounded-circle img-fluid"
    .card-footer.text-center
      = link_to "View", user_outfit_path(@user, outfit), remote: true, data: {disable_with: disable_with_spinner('Loading') } ,class: "btn btn-primary btn-sm float-right"
      = link_to "Delete", user_outfit_path(@user, outfit), method: :delete, remote: true, data: { disable_with: disable_with_spinner('Deleting'), confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm float-right"