.modal-header
  %h5#showOutfitLabel.modal-title= @outfit.name
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  %ul.nav.nav-pills.nav-pills-icons{:role => "tablist"}
    %li.nav-item
      = link_to "#card_view", role: "tab", data: {toggle: "tab"}, class: "nav-link active" do
        %i.material-icons dashboard
        Card View
    %li.nav-item
      = link_to "#table_view", role: "tab", data: {toggle: "tab"}, class: "nav-link" do
        %i.material-icons toc
        Table View
  .tab-content.tab-space
    #card_view.tab-pane.active
      .row
        - @clothing_items.each do |item|
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.show_card_items
            = render "outfits/partials/clothing_item_card", clothing_item: item
    #table_view.tab-pane
      = render "outfits/partials/table"


.modal-footer
  %button.btn.btn-secondary.close_button{"data-dismiss" => "modal", :type => "button"} Close
  = link_to "Edit", edit_user_outfit_path(@user, @outfit), class: "btn btn-primary", data: { disable_with: disable_with_spinner('Loading') }