%button.btn.btn-primary.show_outfit_modal_button{"data-target" => "#showOutfitModal", "data-toggle" => "modal", :type => "button"}
#showOutfitModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "showOutfitModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content