.col-12
  %h5 Clothes
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th{:scope => "col"} Name
        %th{:scope => "col"} Brand
        %th{:scope => "col"} Category
        %th{:scope => "col"} Color
        %th{:scope => "col"} Price
    %tbody
      - @clothing_items.each do |item|
        %tr
          %th= item.name
          %td= item.brand.name
          %td= item.category.name
          %td= item.color.name
          %td= number_to_currency(item.price)
      %tr
        %td{:colspan => "4"} Total
        %td= number_to_currency(@outfit.price)