- if resource.errors.any?
  .col-lg
    #error_explanation.alert.alert-danger
      .container
        - resource.errors.full_messages.each do |message|
          .alert-icon
            %i.material-icons error_outline
          %b= message
