- if @outfits_size > User::MIN_OUTFITS_FOR_RECOMMENDATION
  .col-12
    .card
      .card-body
        %h3.card-title Recommendations
        %h6.card-subtitle.mb-2.text-muted Select a Clothing Item to get matching Clothes Recommendations

        = form_with(url: user_recommendations_path(@user), method: :post, remote: true, class: "recommendations_form") do |f|
          = hidden_field_tag :clothing_item_id
              
          .container-fluid.card.clothing_options
            .row.flex-row.flex-nowrap.scrolling-wrapper
              - @clothing_items.each do |item|
                .col-lg-4.col-md-6.col-sm-6.col-xs-12
                  = render "outfits/partials/clothing_item_card", clothing_item: item

        .col-12.recommendations_area
          %h4 Matching Items 
          .row
          .d-flex.justify-content-center
            .spinner-border


- else
  .info
    .icon.icon-primary
      %i.material-icons remove_circle
    %h3.info-title Insufficient Outfits
    %p 
      = "Add at least #{User::MIN_OUTFITS_FOR_RECOMMENDATION}"
      = link_to "Outfit", user_outfits_path(@user)
      to enable Outfit Recommendation

:javascript
  window.outfitter.recommendations.selectClothingItem();