$(".outfit_card_#{@outfit.id}").remove();
- if @clothes_number < 10
  if($(".new_outfit_button").hasClass("btn-default")){
  $(".new_outfit_button").removeClass("btn-default");
  $(".new_outfit_button").addClass("btn-primary");
  $(".new_outfit_button").attr("href", "#{new_user_outfit_path(@user)}");
  $(".new_outfit_button").removeAttr("data-toggle");
  }