.col-12.all_outfits
  - if @clothes_number >= User::MIN_CLOTHES_FOR_OUTFIT
    - if @outfits.size < User::MAX_OUTFITS
      = link_to "New Outfit", new_user_outfit_path(@user), class: "btn btn-primary new_outfit_button"
    - else
      = link_to "New Outfit", "javascript:void(0);", data:{ placement: "right", toggle: "tooltip", title: "You can have a maximum of #{User::MAX_OUTFITS} Outfits."} , class: "btn btn-default new_outfit_button"

    .card
      .card-body
        %h3.card-title Outfits
        %h6.card-subtitle.mb-2.text-muted Currently added outfits
        = render "outfits/partials/show_outfit"
        .row
          = render partial: "outfits/partials/outfit", collection: @outfits
  
  - else 
    .info
      .icon.icon-primary
        %i.material-icons remove_circle
      %h3.info-title Insufficient Clothes
      %p 
        Add at least 3 
        = link_to "Clothing Items", user_clothing_items_path(@user)
        to enable Outfit Management

