.col-12
  .card
    .card-body
      %h3.card-title= "Hello, #{@user.name}"
      %h6.card-subtitle.mb-2.text-muted Welcome to Outfitter
      %p
        The application was designed to suggest outfits that match with your clothing items based on other users' input. 
      %p
        Below is a checklist of the Steps to take for using the Application

      %ul.list-group.list-group-flush
        %li.list-group-item
          %button.btn.btn-primary.btn-fab.btn-fab-mini.btn-round
            - if @user.clothing_items.size >= User::MIN_CLOTHES_FOR_OUTFIT
              %i.material-icons done
            - else
              %i.material-icons clear
          %p
            = "Create at least #{User::MIN_CLOTHES_FOR_OUTFIT}"
            = link_to "Clothing Items", user_clothing_items_path(@user)

        %li.list-group-item
          %button.btn.btn-primary.btn-fab.btn-fab-mini.btn-round
            - if @user.outfits.size >= User::MIN_OUTFITS_FOR_RECOMMENDATION
              %i.material-icons done
            - else
              %i.material-icons clear
          %p
            = "Create at least #{User::MIN_CLOTHES_FOR_OUTFIT}"
            = link_to "Outfits", user_clothing_items_path(@user) 
          
      %p
        When these are done, use the 
        = link_to "Recommendations Search", new_user_recommendations_path(current_user)
        to receive suggestions. 
      

