.login-page.sidebar-collapse
  .page-header.header-filter
    .container
      .row
        .col-lg-4.col-md-6.ml-auto.mr-auto
          .card.card-login
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form", method: :put}) do |f|
              .card-header.card-header-primary.text-center
                %h4.card-title Welcome to Outfitter
                %h5.description Reset Password
              .card-body
                = f.hidden_field :reset_password_token

                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password do
                    = f.password_field :password, autocomplete: 'off', required: true, placeholder: 'Password', class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password_confirmation do
                    = f.password_field :password_confirmation, autocomplete: 'off', required: true, placeholder: 'Password Confirmation', class: 'form-control'

              .footer.text-center
                = f.submit "Change password", class: "btn btn-primary btn-link btn-wd btn-lg"
                = render "devise/shared/links"
