.login-page.sidebar-collapse
  .page-header.header-filter
    .container
      .row
        .col-lg-4.col-md-6.ml-auto.mr-auto
          .card.card-login
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form", method: :post}) do |f|
              .card-header.card-header-primary.text-center
                %h4.card-title Welcolme to Outfitter
                %h5.description Forgot your password?
              .card-body
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons mail
                  = form_group_for f, :email do
                    = f.email_field :email, autofocus: true, required: true, autocomplete: 'off', placeholder: 'Email', class: 'form-control'

              .footer.text-center
                = f.submit "Send me reset instructions", class: "btn btn-primary btn-link btn-wd btn-lg"
                = render "devise/shared/links"
