- if @recommendations.present?
  - @recommendations.each do |items|
    .col-12
      .card.recommendation_group
        .row
          - items.each do |item|
            .col-lg-4.col-md-6.col-sm-6.col-xs-12
              = render "outfits/partials/clothing_item_card", clothing_item: item
- else 
  .info
    .icon.icon-primary
      %i.material-icons sentiment_dissatisfied
    %h3.info-title No results
    %p 
      = "No Recommendations were found for this item. Please try searching for another item."
