.card.cloting_item_card
  = image_tag clothing_item.image_url_or_default, alt: "Clothing image", class: "card-img-top"
  .card-body
    %h4.card-title= clothing_item.name
    %h6.card-subtitle.mb-2.text-muted= number_to_currency(clothing_item.price)
    %p.card-text
      %strong= clothing_item.category.name
    %p.card-text
      %strong= clothing_item.brand.name
    %p.card-text
      %strong= clothing_item.color.name
  .card-footer.text-center
    = link_to "Edit", edit_user_clothing_item_path(@user, clothing_item), remote: true, data: {disable_with: disable_with_spinner('Loading') } ,class: "btn btn-primary btn-sm float-right"
    = link_to "Delete", user_clothing_item_path(@user, clothing_item), method: :delete, remote: true, data: { disable_with: disable_with_spinner('Deleting'), confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm float-right"