%button.btn.btn-primary.edit_clothing_modal_button{"data-target" => "#editClothingItemModal", "data-toggle" => "modal", :type => "button"}
#editClothingItemModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editClothingItemModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content