= form_with(model: [@user, @clothing_item], remote: true) do |f|
  .modal-header
    %h5#createClothingItemLabel.modal-title New Clothing Item
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
  .modal-body
    .form-group
      = f.label :name, "Name"
      = form_group_for f, :name do 
        = f.text_field :name, required: true, class: "form-control"
    .form-group
      = f.label :price, "Price"
      = form_group_for f, :price do 
        = f.number_field :price, required: true, min: 0, step: 0.01, class: "form-control"
    .row
      .col-4.form-group
        = f.label :brand_id, "Brand"
        = form_group_for f, :brand do 
          = f.select :brand_id, Brand.for_select, {}, {class: "form-control selectpicker", data: {style: "btn btn-link"}}
      .col-4.form-group
        = f.label :category_id, "Category"
        = form_group_for f, :category do 
          = f.select :category_id, Category.for_select, {}, {class: "form-control selectpicker", data: {style: "btn btn-link"}}
      .col-4.form-group
        = f.label :color_id, "Color"
        = form_group_for f, :color do
          = f.select :color_id, Color.for_select, {}, {class: "form-control selectpicker", data: {style: "btn btn-link"}}
    .form-group
      = f.label :image_id, "Image"
      = f.hidden_field :image_id, class: "form-control"
      #imageDropzone.dropzone

  .modal-footer
    %button.btn.btn-secondary.close_button{"data-dismiss" => "modal", :type => "button"} Close
    = f.button "Save", class: "btn btn-primary", data: { disable_with: disable_with_spinner('Saving') }