#createClothingItemModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "createClothingItemLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render "clothing_items/partials/form"