- unless @clothing_item.errors.any?
  var clothing_item = $("#{escape_javascript(render(partial: "clothing_items/partials/clothing_item", locals: { clothing_item: @updated_clothing_item }))}");
  $(".clothing_items_row").prepend(clothing_item);
  $('#createClothingItemModal .close_button').click();
var form = $("#{escape_javascript(render(partial: "clothing_items/partials/form"))}");
$('#createClothingItemModal .modal-content').empty().html(form);
window.initDropzone("#createClothingItemModal");