var form = $("#{escape_javascript(render(partial: "clothing_items/partials/form"))}");
$('#editClothingItemModal .modal-content').empty().html(form);
window.initDropzone("#editClothingItemModal");
$(".edit_clothing_modal_button").click();