.col-12
  %button.btn.btn-primary{"data-target" => "#createClothingItemModal", "data-toggle" => "modal", :type => "button"}
    New Clothing Item
  / Modal
  = render "clothing_items/partials/new_clothing_item"

  .card
    .card-body
      %h3.card-title Clothes
      %h6.card-subtitle.mb-2.text-muted Currently added clothes
      = render "clothing_items/partials/edit_clothing_item"
      .row.clothing_items_row
        = render partial: "clothing_items/partials/clothing_item", collection: @clothing_items


:javascript
  window.initDropzone("#createClothingItemModal");