- if @success
  var card = $("#{escape_javascript(render(partial: "clothing_items/partials/card", locals: { clothing_item: @clothing_item }))}");
  $('.clothing_item_card_#{@clothing_item.id}').empty().html(card);
  $('#editClothingItemModal .close_button').click();
- else
  var form = $("#{escape_javascript(render(partial: "clothing_items/partials/form"))}");
  $('#editClothingItemModal .modal-content').empty().html(form);
  window.initDropzone("#editClothingItemModal");