.login-page.sidebar-collapse
  .page-header.header-filter
    .container
      .row
        .col-lg-4.col-md-6.ml-auto.mr-auto
          .card.card-login
            = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f|
              .card-header.card-header-primary.text-center
                %h4.card-title Welcolme to Outfitter
                %h5.description Please Log In
              .card-body
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons mail
                  = form_group_for f, :email do
                    = f.email_field :email, autofocus: true, autocomplete: 'off', placeholder: 'Email', required: true, class: 'form-control'
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password do
                    = f.password_field :password, autocomplete: 'off', placeholder: 'Password', required: true, class: 'form-control'

              .footer.text-center
                = f.submit "Log in", class: "btn btn-primary btn-link btn-wd btn-lg"
                = render "devise/shared/links"