body.clothing_items
  .dropzone
    background: white
    border-radius: 5px
    border: 2px dashed #CD55EB
    border-image: none
    max-width: 500px
    margin-left: auto
    margin-right: auto

  .cloting_item_card
    .card-footer
      display: block
  
  .edit_clothing_modal_button
    display: none