body.devise-sessions, body.users-registrations, body.devise-passwords, 
  .login-page
    .page-header.header-filter
      background-image: asset-url('login_photo.jpg')
      background-size: cover
      background-position: top center

      .input-group
        &:first-child
          margin-top: 35px
        margin-top: 10px
        .field_with_errors
          width: 80%
        
        .form-group.label-floating
          width: 80%
          margin-bottom: 0px
      
    &.edit_registration_form
      .page-header.header-filter
        background-image: none
      
        &:before
          background: none


  .footer
    padding-bottom: 10px
    .devise_link
      margin-right: 15px

body.users-registrations
  .card-body
    height: 500px
