.navbar.navbar-expand-lg
  .container
    margin-left: 0
    max-width: none

    @media (min-width: 992px)
      margin-right: 70px
      .account-collapse
        display: none

    .account-area
      cursor: pointer

.info
  p
    color: #444242 !important