body.outfits
  .navbar
    margin-bottom: 0
  .all_outfits
    margin-top: 30px
  .outfit_form
    margin-bottom: 0
    .card.existing_clothes, .card.remaining_clothes, .card.outfit_clothes
      margin-top: 0
      margin-bottom: 0
      height: calc(100vh - 75px)
      .card-body
        padding-top: 0
        padding-bottom: 0
      .card-body.no_padding_right
        padding-right: 0
      
      .outfit_clothing_items_fields
        display: none

    .card.remaining_clothes, .card.outfit_clothes
      overflow: scroll
      .row 
        min-height: 75vh
    
  .card-footer.text-center
    display: block
  
  .show_outfit_modal_button
    display: none
  
  .card.clothing_item_card
    .card-body
      padding-right: 0
      padding-left: 0

      .row
        min-height: 1px
      .image_side
        padding-right: 0
      .content-side
        margin-bottom: 5px
  
  .show_card_items
    padding-left: 0
    padding-right: 0
  

  #showOutfitModal
    .nav.nav-pills.nav-pills-icons
      .material-icons
        padding: 0
  
  .outfit_card
    .clothing_item_images
      margin-top: 10px
      margin-bottom: 10px 
      .img-fluid
        height: 50px
      
    