body.recommendations
  .scrolling-wrapper
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
  
  .clothing_options
    background-color: #868585
    .clothing_item_card
      cursor: pointer
      .card-title
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
    .selected_clothing_item
      background-color: #9c27b0
      .content-side
        color: white
        .card-title
          color: white
        .card-subtitle
          color: white !important

  .spinner-border    
    display: none
    width: 5rem
    height: 5rem
    color: purple
  
  .recommendations_area
    .recommendation_group.card
      background-color: #ab74ab