%nav.navbar.navbar-expand-lg.bg-primary
  .container
    = link_to 'Outfitter', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.navbar-toggler-icon
      %span.navbar-toggler-icon
      %span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item{class: navbar_active_class("home")}
          = link_to root_path, class: 'nav-link' do 
            Home
        %li.nav-item{class: navbar_active_class("outfits")}
          = link_to 'Outfits', user_outfits_path(current_user), class: 'nav-link'
        %li.nav-item{class: navbar_active_class("clothes")}
          = link_to 'Clothes', user_clothing_items_path(current_user), class: 'nav-link'
        %li.nav-item{class: navbar_active_class("recommendations")}
          = link_to 'Recommendations', new_user_recommendations_path(current_user), class: 'nav-link'

        %li.nav-item.dropdown.account-collapse
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:;"}
            Account
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            = link_to 'Settings', edit_user_registration_path(current_user), class: 'dropdown-item'
            = link_to 'Sign Out', signout_path, data: { turbolinks: false }, class: 'dropdown-item'
      
      .form-inline.ml-auto
        .nav-item.dropdown.account-area
          .dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "javascript:;"}
            Account
          .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
            = link_to 'Settings', edit_user_registration_path(current_user), class: 'dropdown-item'
            = link_to 'Sign Out', signout_path, data: { turbolinks: false }, class: 'dropdown-item'

