.login-page.sidebar-collapse.edit_registration_form
  .page-header.header-filter
    .container
      .row
        .col-lg-4.col-md-6.ml-auto.mr-auto
          .card.card-login
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form"}) do |f|
              .card-header.card-header-primary.text-center
                %h4.card-title Account Settings
              .card-body
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons mail
                  = form_group_for f, :email do
                    = f.email_field :email, autofocus: true, required: true, placeholder: 'Email', autocomplete: 'off', class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons person
                  = form_group_for f, :name do
                    = f.text_field :name, autofocus: true, required: true, placeholder: 'Name', autocomplete: 'off', class: 'form-control'

                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons phone
                  = form_group_for f, :phone do
                    = f.text_field :phone, autofocus: true, required: true, placeholder: 'Phone', autocomplete: 'off', class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons date_range
                  = form_group_for f, :birthdate do
                    = f.date_field :birthdate, autofocus: true, required: true, placeholder: 'Birthdate', autocomplete: 'off', class: 'form-control datetimepicker'

                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password do
                    = f.password_field :password, placeholder: 'Password', autocomplete: 'off', required: true, class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password_confirmation do
                    = f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: 'off', required: true, class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :current_password do
                    = f.password_field :current_password, placeholder: 'Current Password', autocomplete: 'off', required: true, class: 'form-control'

              .footer.text-center
                = f.submit "Save", class: "btn btn-primary btn-link btn-wd btn-lg"
























-# <h2>Edit <%= resource_name.to_s.humanize %></h2>

-# <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
-#   <%= render "devise/shared/error_messages", resource: resource %>

-#   <div class="field">
-#     <%= f.label :email %><br />
-#     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#   </div>

-#   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
-#     <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
-#   <% end %>

-#   <div class="field">
-#     <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
-#     <%= f.password_field :password, autocomplete: "new-password" %>
-#     <% if @minimum_password_length %>
-#       <br />
-#       <em><%= @minimum_password_length %> characters minimum</em>
-#     <% end %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :password_confirmation %><br />
-#     <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
-#     <%= f.password_field :current_password, autocomplete: "current-password" %>
-#   </div>

-#   <div class="actions">
-#     <%= f.submit "Update" %>
-#   </div>
-# <% end %>

-# <h3>Cancel my account</h3>

-# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

-# <%= link_to "Back", :back %>
