.login-page.sidebar-collapse
  .page-header.header-filter
    .container
      .row
        .col-lg-4.col-md-6.ml-auto.mr-auto
          .card.card-login
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f|
              .card-header.card-header-primary.text-center
                %h4.card-title Welcolme to Outfitter
                %h5.description Sign up
              .card-body
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons mail
                  = form_group_for f, :email do
                    = f.email_field :email, autofocus: true, required: true, placeholder: 'Email', autocomplete: 'off', class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons person
                  = form_group_for f, :name do
                    = f.text_field :name, autofocus: true, required: true, placeholder: 'Name', autocomplete: 'off', class: 'form-control'

                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons phone
                  = form_group_for f, :phone do
                    = f.text_field :phone, autofocus: true, required: true, placeholder: 'Phone', autocomplete: 'off', class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons date_range
                  = form_group_for f, :birthdate do
                    = f.date_field :birthdate, autofocus: true, required: true, placeholder: 'Birthdate', autocomplete: 'off', class: 'form-control datetimepicker'

                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password do
                    = f.password_field :password, placeholder: 'Password', autocomplete: 'off', required: true, class: 'form-control'
                
                .input-group
                  .input-group-prepend
                    %span.input-group-text
                      %i.material-icons lock_outline
                  = form_group_for f, :password_confirmation do
                    = f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: 'off', required: true, class: 'form-control'

              .footer.text-center
                = f.submit "Sign up", class: "btn btn-primary btn-link btn-wd btn-lg"
                = render "devise/shared/links"